//color 

$colorPrimary:#0206f1;
$colorSecondary:#000;
$colorWarning:#e7bd04;
$colorDanger:#ff0000e8;
$colorWhite:#ffffff;
$colorInfo:#008ed6;
$colorGray:#ccc;
$colorSuccess:#5bf85b;
$colorPink:rgb(253, 74, 214);

$width:130rem;
$centerElement:0 auto;
